NC_008700_fit_organism_SB2B.txt.amended.txt filter=lfs diff=lfs merge=lfs -text
NC_019936_fit_organism_psRCH2.txt.amended.txt filter=lfs diff=lfs merge=lfs -text
NZ_LKBJ01000002_fit_organism_pseudo13_GW456_L13.txt.amended.txt filter=lfs diff=lfs merge=lfs -text
NZ_CP009273_fit_organism_Keio.txt.amended.txt filter=lfs diff=lfs merge=lfs -text
fit_organism_Koxy.txt filter=lfs diff=lfs merge=lfs -text
NC_004347_fit_organism_MR1.txt filter=lfs diff=lfs merge=lfs -text
NC_008577_fit_organism_ANA3.txt.amended.txt filter=lfs diff=lfs merge=lfs -text
NC_009092_fit_organism_PV4.txt filter=lfs diff=lfs merge=lfs -text
NZ_CP009273_fit_organism_Keio.txt filter=lfs diff=lfs merge=lfs -text
fit_organism_pseudo1_N1B4.txt filter=lfs diff=lfs merge=lfs -text
NZ_CP015225_fit_organism_pseudo6_N2E2.txt.amended.txt filter=lfs diff=lfs merge=lfs -text
NZ_JIBD01000001_fit_organism_Dyella79.txt filter=lfs diff=lfs merge=lfs -text
NZ_KB893650_fit_organism_Kang.txt filter=lfs diff=lfs merge=lfs -text
NC_002947_fit_organism_Putida.txt filter=lfs diff=lfs merge=lfs -text
NC_002947_fit_organism_Putida.txt.amended.txt filter=lfs diff=lfs merge=lfs -text
NZ_CP012830_fit_organism_pseudo3_N2E3.txt filter=lfs diff=lfs merge=lfs -text
NC_008700_fit_organism_SB2B.txt filter=lfs diff=lfs merge=lfs -text
NC_019936_fit_organism_psRCH2.txt filter=lfs diff=lfs merge=lfs -text
fit_organism_pseudo5_N2C3_1.txt filter=lfs diff=lfs merge=lfs -text
NC_008577_fit_organism_ANA3.txt filter=lfs diff=lfs merge=lfs -text
NZ_CP007637_fit_organism_WCS417.txt filter=lfs diff=lfs merge=lfs -text
NZ_CP012830_fit_organism_pseudo3_N2E3.txt.amended.txt filter=lfs diff=lfs merge=lfs -text
NZ_CP015225_fit_organism_pseudo6_N2E2.txt filter=lfs diff=lfs merge=lfs -text
NC_009092_fit_organism_PV4.txt.amended.txt filter=lfs diff=lfs merge=lfs -text
NC_017506_fit_organism_Marino.txt filter=lfs diff=lfs merge=lfs -text
NZ_KB893650_fit_organism_Kang.txt.amended.txt filter=lfs diff=lfs merge=lfs -text
NZ_LKBJ01000002_fit_organism_pseudo13_GW456_L13.txt filter=lfs diff=lfs merge=lfs -text
NC_004347_fit_organism_MR1.txt.amended.txt filter=lfs diff=lfs merge=lfs -text
NC_017506_fit_organism_Marino.txt.amended.txt filter=lfs diff=lfs merge=lfs -text
NZ_CP007637_fit_organism_WCS417.txt.amended.txt filter=lfs diff=lfs merge=lfs -text
NZ_JIBD01000001_fit_organism_Dyella79.txt.amended.txt filter=lfs diff=lfs merge=lfs -text
full_tag_dict_file.cpk filter=lfs diff=lfs merge=lfs -text
